main{
    border-style: solid;
    text-align: center;
}
header{
    text-align: center;
    font-size: xx-large;
}
header h1{
    color: rgb(245, 179, 179);
    font-size: 50px;
    
}
#selectMenu2{
    display: block;
    margin-left: 45%;
}
select{
    font-size: xx-large;
    margin-top: 15px;
}
section{
    display: inline-block;
    border: 5px solid rgb(255, 0, 0) ;
    margin-top: 20px;
    overflow: hidden;
    width: 700px;
    margin-right: auto;
    margin-left: auto;
}
img{
    
    max-width: 500px;
    height: 300px;
}
section p {
    font-size: 30px;
    margin: 10px 0px;
    border-style: solid;
   
}
section h2{
    margin: 10px 0px;
    font-size: 40px;
}
